<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- package="com.empatica.sample"> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProfilePageCuidador"
            android:exported="false" />
        <activity
            android:name=".ActivityViewerCuidador"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".TrainViewer"
            android:exported="false" />
        <activity
            android:name=".ActivityViewer"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DayRatePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InitialPage"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>